@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  /* 中的媒体查询在屏幕宽度 ≥1024px 时：
将 #app 设置为 display: grid; grid-template-columns: 1fr 1fr;（两列网格） */
  #app {
    /* 移除 grid 设置，避免 layout 页面组件并列 */
    padding: 0 2rem;
  }
}
